{% extends 'base.html' %}

{% block title %}Top Skor{% endblock %}

{% block content %}
<div class="container">
    <h2 class="display-4">Top Skor</h2>
    <hr class="my-4">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Rank</th>
                <th scope="col">Player Name</th>
                <th scope="col">Goals</th>
                <th scope="col">Position</th>
                <th scope="col">Age</th>
                <th scope="col">Team ID</th>
            </tr>
        </thead>
        <tbody>
            {% for scorer in top_scores %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ scorer.player_info.name }}</td>
                <td>{{ scorer.goals }}</td>
                <td>{{ scorer.player_info.position }}</td>
                <td>{{ scorer.player_info.age }}</td>
                <td>{{ scorer.player_info.team_id }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
